<div class="Section_top">
  <h1>Contect with Us</h1>
  <div class="quote">
    "Fly with ease - book your journey, create memories, and explore the skies!"
  </div>
  <form>
    <div class="contentForm">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Enter your Name</mat-label>
          <input matInput placeholder="Raman Shakya" />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Enter Your Email</mat-label>
          <input matInput placeholder="raman@gmail.com" />
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="+91 67644542454" />
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
      </p>
      <p> 
        <!-- jnbjdshjdjsjd -->
        <mat-form-field appearance="outline">
          <mat-label>Enter Your Message Here</mat-label>
          <input matInput placeholder="hello" />
          <mat-icon matSuffix>comment</mat-icon>
        </mat-form-field>
      </p>
      <button mat-raised-button><mat-icon>send</mat-icon> Send</button>
      <button mat-raised-button>Cancel</button>
    </div>
  </form>
</div>
<app-contact-section-manage></app-contact-section-manage>
<!-- <div class="contactsection">
  <div class="sections">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero dicta in
    laborum ipsa sapiente deserunt adipisci fuga quidem dolores excepturi sunt
    expedita, optio officiis possimus eveniet amet labore modi aliquam
    consequatur distinctio asperiores iusto odio nemo voluptates! Voluptas
    reiciendis expedita possimus, aperiam quis quisquam in harum itaque
    reprehenderit consequuntur cupiditate earum libero maxime deserunt sunt ut
    adipisci dicta tempore quae. Eos ab omnis, non ullam saepe cumque similique
    reiciendis magnam earum enim neque animi blanditiis ad amet id deserunt
    ipsam aspernatur explicabo maxime recusandae tempore nemo! Similique, sequi?
    Provident, illum? Non impedit iste autem obcaecati aliquam laudantium
    eveniet cumque possimus!
  </div>
  <div class="sections">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero dicta in
    laborum ipsa sapiente deserunt adipisci fuga quidem dolores excepturi sunt
    expedita, optio officiis possimus eveniet amet labore modi aliquam
    consequatur distinctio asperiores iusto odio nemo voluptates! Voluptas
    reiciendis expedita possimus, aperiam quis quisquam in harum itaque
    reprehenderit consequuntur cupiditate earum libero maxime deserunt sunt ut
    adipisci dicta tempore quae. Eos ab omnis, non ullam saepe cumque similique
    reiciendis magnam earum enim neque animi blanditiis ad amet id deserunt
    ipsam aspernatur explicabo maxime recusandae tempore nemo! Similique, sequi?
    Provident, illum? Non impedit iste autem obcaecati aliquam laudantium
    eveniet cumque possimus!
  </div>
  <div class="sections">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero dicta in
    laborum ipsa sapiente deserunt adipisci fuga quidem dolores excepturi sunt
    expedita, optio officiis possimus eveniet amet labore modi aliquam
    consequatur distinctio asperiores iusto odio nemo voluptates! Voluptas
    reiciendis expedita possimus, aperiam quis quisquam in harum itaque
    reprehenderit consequuntur cupiditate earum libero maxime deserunt sunt ut
    adipisci dicta tempore quae. Eos ab omnis, non ullam saepe cumque similique
    reiciendis magnam earum enim neque animi blanditiis ad amet id deserunt
    ipsam aspernatur explicabo maxime recusandae tempore nemo! Similique, sequi?
    Provident, illum? Non impedit iste autem obcaecati aliquam laudantium
    eveniet cumque possimus!
  </div>
</div> -->
